<h1>Usuários</h1>
<div style="float:left;padding:20px 20px 0 0">
	<label style="display:block">Código</label>
	<input type="text" name="codigo" id="codigo" style='display:block' size="5" ng-model="$ctrl.codigo"/>
</div>
<div style="padding:20px 0 0 0">
	<label style="display:block">Nome</label>
	<input type="text" name="nome" id="nome" style='display:block' size="35" ng-model="$ctrl.nome"/>
</div>
<div style="float:left;padding:20px 20px 0 0">
	<label style="display:block">Login</label>
	<input type="text" name="login" id="login" style='display:block'/>
</div>
<div style="padding:20px 0 0 0">
	<label style="display:block">Senha</label>
	<input type="password" name="senha" id="senha" style='display:block'/>
</div>
<div style="float:left;padding:20px 20px 0 0">
	<label style="display:block">CPF</label>
	<input type="text" name="cpf" id="cpf" style='display:block'/>
</div>