<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query">
      </p>

      <p>
        Ordenar por:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alfabetica</option>
          <option value="age">Mais novos</option>
          <option value="-age">Mais antigos</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <p>Total number of phones: {{$ctrl.phones.length}}</p>
      	<ul class="phones">
		  <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
		    <a href="#!/phones/{{phone.id}}" class="thumb">
		      <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
		    </a>
		    <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
		    <p>{{phone.snippet}}</p>
		  </li>
		</ul>
      <pre>{{$ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp | json}}</pre>

    </div>
  </div>
</div>